body {
    margin: 0;
    font-family: verdana;
    background-color: #2b2b2b;
    color: white;
    text-align: center;
}

header {
    background-color: #FF0000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

nav a {
    background-color: #2b2b2b;
    color: white;
    margin-left: 8px;
    padding: 8px 15px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px #333333;
}
.logo {
    display: flex;
    align-items: center;
    height: 30px;
    padding-right: 5px;
}
.logo img {
    height: 150%;
    width: auto;
}
.columns {
    display: flex;
    gap: 20px;
    padding: 0 20px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 0 auto 50px;
    margin-top: 20px;

}
.ceny{
flex: 1 1 300px;
    background-color: rgb(83, 82, 82);
    display: inline-block;
    padding: 5x 15x;
    margin-top: 0;
    margin-bottom: 20px;
    border-radius: 12px;
    text-align: center;
        box-shadow: 10px 10px 10px #0f0f0f;
}