body {
    margin: 0;
    font-family: verdana;
    background-color: #2b2b2b;
    color: white;
    text-align: center;
}

header {
    background-color: #FF0000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

nav a {
    background-color: #2b2b2b;
    color: white;
    margin-left: 8px;
    padding: 8px 15px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px #333333;

    
}
.logo {
    display: flex;
    align-items: center;
    height: 30px;
    padding-right: 5px;

}
.logo img {
    height: 150%;
    width: auto;
}

h1 {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 2;
    color: #FF0000;
    text-transform: uppercase;
    text-shadow:5px 4px 1px black;
}
.columns {
    display: flex;
    gap: 20px;
    padding: 0 20px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto 50px;
}
.samochud {
    flex: 1 1 300px;
    background-color: rgb(83, 82, 82);
    display: inline-block;
    padding: 5x 15x;
    margin-top: 0;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
        box-shadow: 10px 10px 10px #0f0f0f;
           box-sizing: border-box;
            transition: transform 0.2s, box-shadow 0.2s;
}
.samochud:hover {
            transform: scale(1.03);
            box-shadow: 2px 4px 40px black;
        }



.samochud {
   color: #FF0000;
    width: 90%;
    margin-bottom: 20px;
    min-height: auto;
     text-shadow:1px 1px 1px black;
}
.gallery {
    flex-wrap: wrap;
    justify-content: center;
 
    
}
.gallery img {
    width: 65%;
    height: 150px;
    box-shadow: 6px 6px 6px rgb(61, 60, 60);
    border-radius: 12px;
 
}
.dane {
     margin-top: 30px;
    margin-bottom: 40px;
    font-size: 2;
    color: #dadada;
    text-transform: uppercase; 
}
.model {    
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 2;
    color: #ff0000;
    text-transform: uppercase; 
}
.cena {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 2;
    color: #ba0707;
    text-transform: uppercase; 
}